<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dukeai.android">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
<!--    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="29"-->
<!--        tools:ignore="ScopedStorage"/>-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <application
        android:name=".Duke"
        android:allowBackup="false"
        android:hardwareAccelerated="false"
        android:icon="${appIcon}"
        android:label="${appLabelName}"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="${appIcon}"
        android:supportsRtl="true"
        android:testOnly="false"
        android:theme="@style/AppTheme"
        tools:replace="android:label,android:name,android:allowBackup"
        android:fullBackupContent="false">

        <uses-library android:name ="org.apache.http.legacy" android:required ="false"/>

        <activity
            android:name=".ui.activities.PaymentActivity"
            android:label="@string/title_activity_payment">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>
        <!-- android:roundIcon="@mipmap/ic_launcher_round" -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />
        <meta-data
            android:name="com.crashlytics.ApiKey"
            android:value="AIzaSyDFO6tQPgNQf3Url3dNYAUYQAXKPOacOaQ" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="81b5eea673c7e3806f5c02cf400462a2e7c71759" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_app_notification" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorBlack" />
        <meta-data
            android:name="com.facebook.sdk.AutoLogAppEventsEnabled"
            android:value="true" />
        <meta-data
            android:name="com.facebook.sdk.AutoInitEnabled"
            android:value="true" />
        <meta-data
            android:name="com.facebook.sdk.AdvertiserIDCollectionEnabled"
            android:value="true" />

        <activity android:name=".ui.activities.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter android:label="${schemeLabel}">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="*"
                    android:scheme="${appScheme}" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.MainActivity"
            android:windowSoftInputMode="adjustResize"
            android:exported="true">
            <intent-filter android:label="${awsAppScheme}">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="*"
                    android:scheme="${awsAppScheme}" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.DocumentViewerActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.activities.DashboardActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.activities.FederalDeduction"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.activities.AssetDeduction"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.activities.BalanceSheet"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.activities.EditTractor"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.activities.AddBalanceSheetReport"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.activities.AddTractor"
            android:windowSoftInputMode="adjustResize" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <receiver android:name=".ui.fragments.AlertReceiver" />
        <service android:name=".MyFirebaseMessagingService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service
            android:name=".LocationService"
            android:enabled="true" />
        <service
            android:name=".OnClearFromRecentService"
            android:stopWithTask="false" />

        <service android:name="com.google.android.gms.measurement.AppMeasurementService"
            android:enabled="true"
            android:exported="false"/>
    </application>

</manifest>